/* PC、スマホ共通スタイル */
* {
  box-sizing: border-box;
}

body {
  max-width: 1080px;
  margin: 0 auto;
  font-family: "Noto Sans JP", serif;
  background-color: #ffffff;
}

/* ヘッダー */
header {
  font-size: 34px;
  font-weight: bold;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 15px;
  margin: 0 130px 10px 130px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav > a {
  border: 2px solid black;
  padding: 0px 20px;
}

#menu > a {
  padding: 0 10px;
}


/* メイン写真 */
img {
  position: relative;
  width: 100%;
}

h2 {
  font-size: 34px;
  text-align: center;
}

/* アバウト */
#about {
  margin: 80px 0;
}

#one {
  display: flex;
  justify-content: center;
}

#one img {
  border-radius: 50%;
  width: 80%;
  margin: 30px 40px 0 0;
}

#hello {
  margin: 30px 0 0 40px;
}

#hello li {
  font-size: 18px;
}

h3 {
  font-size: 24px;
}

/* ワークス */
#two {
  display: flex;
  justify-content: center;
}

.ni {
  width: 260px;
  height: auto;
  margin: 10px;
}


p {
  font-size: 18px;
}

/* フッター */
footer {
  text-align: center;
  padding-top: 80px;
}


/* スマホ用スタイル */
@media screen and (max-width: 767px) {

  header nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
    margin: 0;
  }

  header > nav {
    font-size: 25px;
  }

  #menu {
    font-size: 20px;
    padding: 0 5px 0 0;
  }

  /* アバウト縦並び */
  #one {
    flex-direction: column;
    align-items: center;
  }
  
  #one img {
    border-radius: 50%;
    width: 100%;
    margin: 0;
  }
  
  #hello {
    margin: 0 30px 0 30px;
  }

  /* ワークス */
  #two {
    flex-direction: column;
    align-items: center;
  }

  .ni {
    width: 90%;
    height: auto;
    margin: 10px;
  }

  .ni > p {
    margin-top: 0;
    text-align: center;
  }

  /* フッター */
  footer {
    padding-top: 40px;
  }
}